:root {
    --colorPrincipal: #ffd700;
    --colorSecundario: #333333;
    --negro: #000000;
    --blanco: #ffffff;
}

body,html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: arial, sans-serif;
    background-color: var(--negro);
}

h1 {
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
}
h1 a {
color: var(--colorPrincipal);
text-decoration: none;
}
h1 a:hover{
    color: var(--negro);
}
.enlaces {
    text-decoration: none;
    color: black;
   padding: 10px;
    font-weight: 700;
}
.enlaces:hover {
background-color: var(--negro);
color: var(--colorPrincipal);
border-radius: 10px;
}

nav {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: space-evenly;
    background-color: var(--colorPrincipal);
    padding: 1px;
}

.contenedor {
    background-image: url(..//img/seguridad.jpg);
    background-size: cover;
    padding: 40px;
    background-position: center;
    background-repeat: no-repeat;
}
@media (max-width: 768px) {
    nav{
        display: flex;
        flex-direction: column;
    }
}

.empresas {
    background-repeat: no-repeat;
    
}

/*resumen menusal y semanal*/
.remen {
    color: var(--colorPrincipal);
    text-align: center;
    font-size: 25px;
}
.btn {
    background-color: var(--colorPrincipal); 
    color: var(--colorSecundario);
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
    margin-top: 20px;
    display: inline-block; /* Mostrar en línea */
}
.btn:hover {
    background-color: #e6b800;
    color: var(--negro);
    }

    .formbtn {
        color: var(--colorPrincipal);
    }

    p {
        color: var(--colorPrincipal);
    }

.empleado-form {
    background-color: var(--colorSecundario);
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
    display: block;
    display: none;
}
.empleado-form label {
    display: block;
    margin-top: 10px;
    color: var(--colorPrincipal);
}
.empleado-form input {
    background-color: var(--blanco); 
    color: var(--colorSecundario); 
    border: none;
    padding: 10px 20px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 4px;
}

.empleado-form button {
    background-color: var(--colorPrincipal);
    color: var(--colorSecundario);
    font-weight: 700;
    cursor: pointer;
    padding: 10px;
    margin: 30px;
    border: none;
    border-radius: 7px;
    display: block;
}
.empleado-form button:hover {
    background-color: var(--negro);
    color: var(--colorPrincipal);
}
table {
    width: 100%;
    border-collapse: collapse; 
}
table, th, td {
    border: 1px solid #ffcc00;
}
th, td {
    padding: 10px;
    text-align: left; 
}
th {
    background-color: var(--colorPrincipal);
    color: var(--colorSecundario);
}
td {
    background-color: var(--colorSecundario);
    color: var(--colorPrincipal);
}

button {
    border: none;
    cursor: pointer;
    background-color: var(--colorPrincipal);
    border-radius: 7px;
    font-weight: 500;
}
button:hover {
    background-color: var(--negro);
    color: var(--colorPrincipal);
    font-weight: 500;
}

h2  {
    color: var(--colorPrincipal);
    text-align: center;
}
@media (min-width: 768px) {
    .contenedorempresas {
        display: grid;
        grid-template-columns: 1fr 1fr;
        row-gap: 200px;
        margin-top: 20px;
    }
}
.contenedorempresas a{
    color: var(--colorPrincipal);
    text-decoration: none;
    text-align: center;
    font-weight: 700; 
    font-size: 30px;
}
.contenedorempresas a:hover{
    color: var(--blanco);
}

.arcbtn {
    padding: 10px;
    margin-top: 20px;
    columns: var(--colorSecundario);
    font-weight: bolder;
}
.arcbtn:hover{
    background-color: #e6b800;
    color: var(--negro);
    font-weight: 700;
}